<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by CJ Ramki. It uses data from mapbox.com and weatherstack.com!</p>
            <img class="potrait" src="/images/cj_ramki.jpg" title="Collage" />
        </div>
        {{>footer}}
    </body>
</html>